@import url('/src/styles/constants.css');

.news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  color: var(--textColor);
  margin-bottom: 1rem;
}

.link {
  display: grid;
  grid-template-columns: 1.75rem auto;
  column-gap: 0.5rem;
  text-decoration: none;
  color: var(--textColor);
}

@media (min-width: 780px) {
  .link {
    grid-template-columns: 4.5rem auto;
  }
}

.rank {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: end;
  font-size: clamp(1rem,
        (0.3rem + 3.5vw),
        2rem);
  color: var(--pink);
}

.rank__number {
  display: block;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: clamp(1rem, 0.3rem + 3.5vw, 2rem);
  margin: 0 0 0.25rem 0;
  color: var(--pink);
  flex-basis: auto;
}

@media (min-width: 780px) {
  .title {
    margin: 0 0 0.625rem 0;
  }
}


.meta {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
}

@media (min-width: 780px) {
  .meta {
    column-gap: 1rem;
      row-gap: 0.8rem;
  }
}

.small {
  font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1rem);
}
