@import url('../../../styles/constants.css');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: var(--textColor);
}
