@import url('/src/styles/constants.css');

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 780px) {
  .footer {
    gap: 2rem;
  }
}

.item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.link {
  color: var(--pink);
  font-size: 1rem;
}

.text {
  color: var(--textColor);
}
